<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <p>
        <b>
          You do not have permission to {{ action }}, please login as an airline
          staff to do so!
        </b>
      </p>
      <a href="Staff/staff-login.html" id="login">Staff Login</a>
    </div>
  </body>
</html>
