<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Permission Denied</title>
    <style>
      #login {
        position: fixed;
        top: 25px;
        right: 25px;
        color: black;
        text-decoration: none;
      }

      #login:hover {
        text-decoration: underline;
      }

      p {
        font-size: larger;
      }
    </style>
  </head>
  <body>
    <div>
      <p>
        <b>
          You do not have permission for {{ action }}, please login as an
          airline staff to do so!
        </b>
      </p>
      <a href="Staff/staff-login.html" id="login">Staff Login</a>
    </div>
  </body>
</html>
