<html>
  <head> </head>
  <body>
    <form action="process_form.php" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required /><br />

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required /><br />

      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <label for="building_number">Building Number:</label>
      <input
        type="text"
        id="building_number"
        name="building_number"
        required
      /><br />

      <label for="street_name">Street Name:</label>
      <input type="text" id="street_name" name="street_name" required /><br />

      <label for="apartment_number">Apartment Number:</label>
      <input type="text" id="apartment_number" name="apartment_number" /><br />

      <label for="city">City:</label>
      <input type="text" id="city" name="city" required /><br />

      <label for="state">State:</label>
      <input type="text" id="state" name="state" required /><br />

      <label for="zip_code">Zip Code:</label>
      <input type="text" id="zip_code" name="zip_code" required /><br />

      <label for="phone_number">Phone Number:</label>
      <input type="tel" id="phone_number" name="phone_number" required /><br />

      <label for="passport_number">Passport Number:</label>
      <input
        type="text"
        id="passport_number"
        name="passport_number"
        required
      /><br />

      <label for="passport_expiration">Passport Expiration:</label>
      <input
        type="date"
        id="passport_expiration"
        name="passport_expiration"
        required
      /><br />

      <label for="passport_country">Passport Country:</label>
      <input
        type="text"
        id="passport_country"
        name="passport_country"
        required
      /><br />

      <label for="date_of_birth">Date of Birth:</label>
      <input
        type="date"
        id="date_of_birth"
        name="date_of_birth"
        required
      /><br />

      <input type="submit" value="Register" />
      {% if error %}
      <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
    </form>
    <a href="/">Go back</a>
  </body>
</html>
