#home:hover,
#logout:hover {
  text-decoration: underline;
}


table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
  }

  th,
  td {
    border: 1px solid black;
  }

  tr {
    height: 30px;
  }

  #home,
  #logout {
    position: fixed;
    top: 25px;
    color: black;
    text-decoration: none;
  }

  #home {
    right: 100px;
  }

  #logout {
    right: 25px;
  }
