<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Airport</title>
    <style>
      #home,
      #logout {
        position: fixed;
        top: 25px;
        color: black;
        text-decoration: none;
      }

      #home:hover,
      #logout:hover {
        text-decoration: underline;
      }

      #home {
        right: 100px;
      }

      #logout {
        right: 25px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Add Airport</h1>
      <a id="home" href="/staff-main">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>

    <form action="/addAirport" method="POST">
      <label for="code">Airport Code: </label>
      <input type="text" name="code" id="code" required />
      <br /><br />
      <label for="name">Airport Name: </label>
      <input type="text" name="name" id="name" required />
      <br /><br />
      <label for="city">Airport City: </label>
      <input type="text" name="city" id="city" required />
      <br /><br />
      <label for="country">Airport Country: </label>
      <input type="text" name="country" id="country" required />
      <br /><br />
      <label for="type">Airport Type: </label>
      <select name="type" id="type" required>
        <option value="" disabled selected hidden>Type</option>
        <option value="Domestic">Domestic</option>
        <option value="International">International</option>
        <option value="Both">Both</option>
      </select>
      <br /><br />
      <input type="submit" value="Add" />
      <br /><br />
    </form>
  </body>
</html>
