<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <h1>You have successfully add an airplane!</h1>
      <a id="home" href="/staff-main">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>

    <h2>All Airplanes Owned By {{ airline_name }}</h2>
    <table>
      <tr>
        <th>Identification Number</th>
        <th>Number of Seats</th>
        <th>Manufacturing Company</th>
        <th>Manufacture Date</th>
      </tr>
      {% for airplane in airplanes %}
      <tr>
        <td>{{ airplane.identification_number }}</td>
        <td>{{ airplane.number_of_seats }}</td>
        <td>{{ airplane.manufacturing_company }}</td>
        <td>{{ airplane.manufacturing }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
