<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <h1>Welcome, {{name.first_name}}!</h1>
      <a id="logout" href="/logout">Log Out</a>
    </div>

    <nav>
      <ul>
        <li><a class="actions" href="/view-flights">View Flight</a></li>
        <li>
          <a class="actions" href="/create-new-flight">Create New Flight</a>
        </li>
        <li>
          <a class="actions" href="/change-status">Change Flight Status</a>
        </li>
        <li><a class="actions" href="/add-airplane">Add Airplane</a></li>
        <li><a class="actions" href="/add-airport">Add Airport</a></li>
        <li><a class="actions" href="/view-ratings">View Ratings</a></li>
        <li>
          <a class="actions" href="/view-customer-flight-page"
            >View Customer's Flight</a
          >
        </li>
        <li><a class="actions" href="/view-report">View Reports</a></li>
      </ul>
    </nav>

    <h2>Future Flight for Next 30 Days</h2>
    {% if error %}
    <h3>{{error}}</h3>
    {% endif %} {% if not error %}
    <table>
      <tr>
        <th>Flight Number</th>
        <th>Departure Date and Time</th>
        <th>Arrival Date and Time</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Base Price of Ticket</th>
        <th>View Customer</th>
      </tr>
      {% for flight in flights %}
      <tr>
        <td>{{ flight.flight_number }}</td>
        <td>{{ flight.departure_date_and_time }}</td>
        <td>{{ flight.arrival_date_and_time }}</td>
        <td>{{ flight.departure_airport_code }}</td>
        <td>{{ flight.arrival_airport_code }}</td>
        <td>${{ flight.base_price_of_ticket}}</td>
        <td>
          <form action="{{ url_for('view_customers') }}" method="POST">
            <input
              type="hidden"
              name="flight_number"
              value="{{ flight.flight_number }}"
            />
            <input type="submit" value="View Customer" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
