<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <h1>View Customer's Flight</h1>
      <a id="home" href="/staff-main">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>

    <form action="/viewCustomerFlight" method="POST">
      <label for="email">Email Address: </label>
      <input type="email" name="email" id="email" required />
      <br /><br />
      <input type="submit" value="Search" />
      <br /><br />
    </form>

    <table>
      <tr>
        <th>Flight Number</th>
        <th>Departure Date and Time</th>
        <th>Arrival Date and Time</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Base Price of Ticket</th>
      </tr>
      {% for flight in flights %}
      <tr>
        <td>{{ flight.flight_number }}</td>
        <td>{{ flight.departure_date_and_time }}</td>
        <td>{{ flight.arrival_date_and_time }}</td>
        <td>{{ flight.departure_airport_code }}</td>
        <td>{{ flight.arrival_airport_code }}</td>
        <td>{{ flight.calculated_price_of_ticket }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
