<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <h1>View Ratings</h1>
      <a id="home" href="/staff-main">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>
    <form action="/displayRatings" method="POST">
      <label for="flight-number">Flight Number: </label>
      <input type="text" name="flight-number" id="flight-number" required />
      <br /><br />
      <label for="departure-date-and-time">Departure Date and Time: </label>
      <input
        type="datetime-local"
        name="departure-date-and-time"
        id="departure-date-and-time"
        required
      />
      <br /><br />
      <input type="submit" value="View" />
    </form>
    {% if error %}
    <h3>{{error}}</h3>
    {% endif %} {% if not error %}
    <h2>Average Rating: {{ average_rating.avg_rating }}</h2>
    <table>
      <tr>
        <th>Customer's Email</th>
        <th>Rating</th>
        <th>Comment</th>
      </tr>
      {% for customer in customers %}
      <tr>
        <td>{{ customer.email_address }}</td>
        <td>{{ customer.rate }}</td>
        <td>{{ customer.comment }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </body>
</html>
