<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Flight</title>
    <style>
      table {
        width: 100%;
        border: 1px solid black;
      }

      th,
      td {
        border: 1px solid black;
      }

      #home,
      #logout {
        position: fixed;
        top: 25px;
        color: black;
        text-decoration: none;
      }

      #home:hover,
      #logout:hover {
        text-decoration: underline;
      }

      #home {
        right: 100px;
      }

      #logout {
        right: 25px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>View Flight</h1>
      <a id="home" href="staff-main.html">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>

    <form action="/viewFlights" method="POST">
      <label for="from-date">From Date</label>
      <input type="date" name="from-date" id="from-date" />
      <br /><br />
      <label for="to-date">To Date</label>
      <input type="date" name="to-date" id="to-date" />
      <br /><br />
      <label for="source-airport">Source Airport: </label>
      <input type="text" name="source-airport" id="source-airport" />
      <br /><br />
      <label for="destination-airport">Destination Airport: </label>
      <input type="text" name="destination-airport" id="destination-airport" />
      <br /><br />
      <input type="submit" value="Search" />
      <br /><br />
    </form>
    <table>
      <tr>
        <th>Flight Number</th>
        <th>Departure Date and Time</th>
        <th>Arrival Date and Time</th>
        <th>Departure Airport</th>
        <th>Arrival Airport</th>
        <th>Base Price of Ticket</th>
      </tr>
      <tr></tr>
    </table>
  </body>
</html>
