<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Resrvation System</title>
  </head>
  <body>
    <p>Hello World!</p>
    <body>
      <!--Header-->
      <header>
        <!-- Welcome, {name}-->
        <h1>Ticket Resrvation System</h1>
        <!-- navigator bar -->
        <nav>
          <ul>
            <li><a href="user-flight-booking.html">Flight Booking</a></li>
            <li><a href="user-track.html">My Ticket</a></li>
            <li><a href="#">Track Spend</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <!--View Future Flight-->
        <div>
          <h1 id="track-flight-heading">My Future Flights</h1>
          <table>
            <thead>
              <tr>
                <th>Flight Number</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Departure Airport</th>
                <th>Arrival Airport</th>
              </tr>
            </thead>
            <tbody>
              <!-- flight data will be populated here dynamically -->
              <!--test data -->
              <tr>
                <td>CA123</td>
                <td>2023-05-01</td>
                <td>2023-05-01</td>
                <td>PEK</td>
                <td>JFK</td>
              </tr>
              <!--flask template-->
              {% for flight in flights %}
              <tr>
                <td>{{ flight.flight_number }}</td>
                <td>{{ flight.departure_date }}</td>
                <td>{{ flight.arrival_date }}</td>
                <td>{{ flight.departure_airport }}</td>
                <td>{{ flight.arrival_airport }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!--Track Spending-->
      </main>
    </body>
  </body>
</html>
