<!DOCTYPE html>
<html>
  <head>
    <title>Flight Booking</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket Resrvation System</title>
    <link rel="stylesheet" href="../CSS/user-flight-booking.css" />
  </head>
  <body>
    <h1>Flight Booking</h1>
    <!-- navigate bar -->
    <nav>
      <ul>
        <li><a href="user-main.html">Back to Main</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
    </nav>

    <!-- search bar -->
    <!---->
    <div class="search-bar">
      <form action="{{ url_for('search_flights') }}" method="POST">
        <!--when user click label, the input will be focused-->
        <label for="source-city">Source City:</label>
        <!--name will mark the input for back-end -->
        <input type="text" id="source-city" name="source-city" /><br />

        <label for="source-airport">Source Airport:</label>
        <input type="text" id="source-airport" name="source-airport" /><br />

        <label for="destination-city">Destination City:</label>
        <input
          type="text"
          id="destination-city"
          name="destination-city"
        /><br />

        <label for="destination-airport">Destination Airport:</label>
        <input
          type="text"
          id="destination-airport"
          name="destination-airport"
        /><br />

        <label for="departure-date">Departure Date:</label>
        <input type="date" id="departure-date" name="departure-date" /><br />

        <label for="return-date">Return Date:</label>
        <input type="date" id="return-date" name="return-date" /><br />

        <input type="submit" value="Search" />
      </form>
    </div>

    <!-- -->
    <br />
    <br />
    <!-- -->

    <!-- Flask render-->
    <table>
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure Date</th>
          <th>Arrival Date</th>
          <th>Departure Airport</th>
          <th>Arrival Airport</th>
        </tr>
      </thead>
      <tbody>
        {% for flight in flights %}
        <tr>
          <td>{{ flight.flight_number }}</td>
          <td>{{ flight.departure_date }}</td>
          <td>{{ flight.arrival_date }}</td>
          <td>{{ flight.departure_airport }}</td>
          <td>{{ flight.arrival_airport }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
