<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <title>Airline Ticket System</title>
  </head>
  <body>
    <div>
      <h1>Track My Spending</h1>
      <a id="home" href="/user-main">Home</a>
      <a id="logout" href="/logout">Log Out</a>
    </div>
    <h2>Total Amount Spent in Past Year:</h2>
    <p>
      Total amount spent in <strong>past year</strong>: ${{ total_spending }}
    </p>

    <h2>Monthly Spending for Last 6 Months</h2>
    <table>
      <thead>
        <tr>
          <th>Month</th>
          <th>Amount Spent</th>
        </tr>
      </thead>
      <tbody>
        {% for month, spending in monthly_spending.items() %}
        <tr>
          <td>{{ month }}</td>
          <td>${{ spending }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>View Spending for Specific Date Range</h2>
    <form action="/track-specific-spend" method="POST">
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date" required />

      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date" required />

      <button type="submit">View Spending</button>
    </form>
    <p>
      {% if specific_monthly_spending %} Total amount spent in
      <strong>selected date</strong>: ${{ specific_monthly_spending[0] }} {%
      endif %} {% if specific_monthly_spending[1] %}
    </p>

    <h2>Monthly Spending for Selected Date Range</h2>
    <table>
      <thead>
        <tr>
          <th>Month</th>
          <th>Amount Spent</th>
        </tr>
      </thead>
      <tbody>
        {% for month, spend in specific_monthly_spending[1].items() %}
        <tr>
          <td>{{ month }}</td>
          <td>${{ spend }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </body>
</html>
